body, html {scroll-behavior: smooth;
           height: 100%;
           margin: 0;
                }

body {background-color: #f8c5ce;
}

* {box-sizing: border-box;
  }

  
/* Carousel */
#kotak {width: 80vw;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
margin-top: 50px;
margin-bottom: 50px;
box-sizing: border-box;

 }


h5 {background-color: #ffe5b9;
font-family: 'Langar', cursive;
padding: 10px;
color:#4c4c4c; 
display: flex;
justify-content: center;
align-items: center;
}

@media screen and (max-width: 600px) 
{body {display: none;}
}

/* navbar */
.e1-navbar {font-family: 'Lobster', cursive;
}

.navbar-nav {justify-content: space-around;
             display:flex;
             flex-direction: row-reverse;
}

h1 {color:#a37eba; text-align:center;
    font-family: 'Langar', cursive;
    margin-bottom: 50px; 
    }
 .heading-1 {color:#4c4c4c; text-align:center;}
 .heading-2 {color:red;}

 /* box biodata dan tahun2 draw */
 .box {background-color:#ffe5b9; 
       width: 80vw;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
       margin: 0 auto;
       margin-top: 100px;
       }

  .e1 {font-family: 'Lobster', cursive;
      }

footer {background-color: #ff60b0; 
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0auto;

}






